.main {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-container {
  padding: 2rem;
}

.box-title {
  color: #00B4CC;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.form-container {
  padding: 1rem;
  width: 100%;
  max-width: 500px;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
}

.form-input {
  width: 80%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.form-input:focus{
  color: #00B4CC;
}

.form-submit {
  height: 36px;
  border: 0;
  background: #00B4CC;
  padding: .2rem;
  margin-left: -1px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: .8rem;
  white-space: nowrap;
}

.shorten-box {
  border: .3rem solid #00B4CC;
  border-radius: .2em;
  padding: 2rem;
}

li {
  list-style: none;
}
